<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script>-->
<!--        function sample() {-->
<!--            fetch("/aws").then(function(response) {-->
<!--                return response.json();-->
<!--            }).then(function(data) {-->
<!--                console.log(data);-->
<!--            }).catch(function() {-->
<!--                console.log("Booo");-->
<!--            });-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<h3> We are using an example of an onclick attribute in HTML. </h3>-->
<!--<p> By clicking the button we will see an alert on the screen. </p>-->
<!--<button onclick = 'sample()'>Click Here</button>-->
<!--</body>-->
<!--</html>-->